/* Attendance.css */

.attendance-container-unique {
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f9;
    font-family: 'Roboto', sans-serif;
}


.attendance-dashboard {
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f9;
    font-family: 'Roboto', sans-serif;
}

.attendance-sidebar-unique {
    width: 250px;
    background-color: #0e3866;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


.attendance-sidebar-logo-unique {
    width: 100px;
    margin-bottom: 20px;
}


.attendance-sidebar-nav-unique {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.attendance-sidebar-nav-unique a {
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    margin: 5px 0;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 100%; 
}

.attendance-sidebar-nav-unique a:hover {
    background-color: #1a73e8;
    text-decoration: none;
}


.attendance-sidebar-logout-button-unique {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 28px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 100%;
}

.attendance-sidebar-logout-button-unique:hover {
    background-color: #c9302c;
}


.attendance-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.attendance-date-picker {
    display: block;
    margin: 0 auto 20px auto;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 250px;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.attendance-table thead {
    background-color: #0e3866;
    color: white;
}

.attendance-table th, .attendance-table td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.attendance-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.attendance-table tbody tr:hover {
    background-color: #ddd;
}

.attendance-present-button, 
.attendance-absent-button {
    padding: 8px 12px;
    margin: 0 5px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
}

.attendance-present-button {
    background-color: #28a745;
    color: white;
}

.attendance-absent-button {
    background-color: #dc3545;
    color: white;
}

.attendance-present-button:hover {
    background-color: #218838;
}

.attendance-absent-button:hover {
    background-color: #c82333;
}

.no-bookings-message {
    text-align: center;
    font-size: 18px;
    color: #888;
}
