
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.signup-container {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    background-color: #061d45;
}

.Signup-heading {
    color: rgb(255, 255, 255);
    font-size:  1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.logo-container {
    margin-bottom: 1rem;
}

.logo {
    width: 170px;
    height: auto;
}

h1 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    font-size: 1rem;
    color: #4a5568; 
    background-color: #ffffff;
}

button {
    background-color: #3182ce;
    color: #ffffff;
    padding: 0.75rem;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2b6cb0;
}

.login-link {
    color: #ffffff;
    margin-top: 2rem;
}

.login-link a {
    color: #ffffff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.image-container {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-color: #005eff;
}

.image-container::before {
    content: ""; 
    display: none;
}
